@import "./variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "ProtoMono", monospace;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.empty {
  flex: 1;
}
